body {
    font-family: Arial, sans-serif;
    max-width: 360px;
    margin: 150px auto;
    background:url("Gate\ \(1\).png")no-repeat center rgb(3, 46, 3);
    backdrop-filter: brightness(30%);
}

.form {
    
   background-color: #cccccc52;
    max-width: 360px;
    margin: 150px auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #e65512;
    font-weight: 600;
    text-shadow: 1px 1px black;
}

input[type="email"],
input[type="password"],
button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #0b640e;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.signup {
    text-align: center;
    color: rgb(249, 255, 255);
    text-shadow: 1px 1px black;
}

.signup a {
    color: #ca4260;
    text-decoration: underline;
    text-shadow: 1px 1px black;
}

.signup a:hover {
    text-decoration: underline;
}
