body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #78c3ee;
}
span
{
    font-weight: 600;
    font-size: large;
    padding: 10px;
   
}
img
{
    border-radius: 30%;
    width: 40px;
    height: 40px;
}
.form {
    background-color: #fff;
    max-width: 360px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button[type="button"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="button"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.signup {
    text-align: center;
}

.signup a {
    color: #007bff;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}
