body{
    font-family: Arial, sans-serif;
    background: url("https://img.freepik.com/free-vector/shiny-indian-rupee-digital-currency-background-with-circuit-lines_1017-41186.jpg?w=740&t=st=1685947783~exp=1685948383~hmac=addb939873f040c9472c4951ccd2c9e2e1280bcb7be17c7450331cfe93b9ec0a");
    background-repeat: no-repeat;
    background-size: cover;
}
div
{
    float:right;
    margin-right: 20%;
    margin-top: 5em;
    font-size: 7mm;
    font-weight: 600;
    padding: 20px;
    color: orange;
    text-shadow: 1px 1px rgb(0, 0, 0);
    
}
span
{
    color: yellow;
}
h2
{
    text-align: center;
    font-weight: 600;
    font-size: 9mm;
    color: aqua;
    text-shadow: 1px 1px rgb(0, 0, 0);
}
a
{
    color: rgb(0, 195, 255);
    text-decoration: none;
    margin: 2em;
    border-radius: 30px;
    box-shadow: 2px 2px rgb(245, 185, 20);
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.11);
  }