body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,rgb(255, 238, 0),rgb(255, 166, 0),rgb(255, 115, 0),rgb(211, 6, 40));
  }
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 2px 2px rgba(245, 245, 245, 0.767);
    border-radius: 20px;
    margin-top: 6%;
    background-color: rgba(128, 128, 128, 0.404);
  }
  .form-group {
    margin-bottom: 20px;
  }
  h2
  {
    text-align: center;
    font-size: 7mm;
    color: red;
    text-shadow: 1px 1px black;
  }
  label {
    display: block;
    margin: 10px 0;
    font-weight: 600;
    color: whitesmoke;
    text-shadow: 1px 1px black;
  }
  input
  {
    background-color: rgba(24, 2, 2, 0.658);
    color: rgb(215, 238, 12);
    padding: 7px;
  }
  ::placeholder
  {
    color: #20cc28;
  }
  /* select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  } */
  .submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .submit-btn:hover {
    background-color: #20cc28;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  .message-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
  }
  .message-box button
  {
    color: whitesmoke;
    background-color: #4CAF50;
    padding: 10px;
    font-weight: 600;
    border: none;
    width: 7em;
  }
  .message-box button:hover{
    background-color: #20cc28;
  }
  .overlay01 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  .message-box01 {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
    color:green;
    font-weight: 600;
    font-size: 4mm;
  }
  .done
  {
    width:"20px";
     height:"20px";
  }
